@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  /* background-image: url(cinema.jpg); */
  /* background-repeat: no-repeat; */
  /* width: 100%;
  height: 100px; */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: grey;
  height: 12px;
  width: 15px;
  margin: 10px;
  margin-right: 1px;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  border-radius: 50% 50% 0% 0%;
  height: 40px;
  width: 50px;
  padding: 30px;
  margin-top: 50px;
}

.seat.selected {
  /* background-image: url("me.jpg"); */
  background-color: red;
}
.seat.selected1 {
  background-color: red;
}

.seat.occupied {
  background-color: #fff;
}

.seat1:nth-of-type(2) {
  margin-right: 2px;
}
.seat1:nth-of-type(2) {
  margin-right: 2px;
}

.seat1:nth-last-of-type(2) {
  margin-left: 2px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
  font-size: 20px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  margin-bottom: 40px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

.welcome {
  height: 70px;
  width: 100%;
}

.image {
  height: 40px;
  width: 47px;
  border-radius: 100%;
}

h3 {
  color: aqua;
}
/* 
@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
#slider {
  overflow: hidden;
  width: 100%;
  height: 10%;
}
#slider figure img {
  width: 20%;
  float: left;
  height: 10%;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: center;
  font-size: 0;
  animation: 15s slider infinite;
  animation-delay: 0.1s;
}
img {
  width: 40px;
} */
